<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>

        body {
        margin: 0;
        padding: 0;
        background: linear-gradient(135deg, #84CEEB, #C1C8E4, #5680E9);
        font-family: Arial, sans-serif;
        color: white;
    }
   
</style>

</head>
<body>

<a class="btn" href="{% url 'pldesc' %}">добавить пост</a>
<ul>
    {% for profile in profil %}
    <h2>hello {{ profile.Name }} </h2>
    <p>{{ profile.Name }}</p>
    <p>{{ profile.Description }}</p>
    {% endfor %}
</ul>

    
</body>
</html> 