<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .navbar {
            background-color: #333;
            color: #fff;
            padding: 15px;
            text-align: center;
        }
        .container {
            padding: 20px;
        }
        h1, h2 {
            color: #333;
        }
    </style>
</head>
<body>

<!-- Нав -->
<div class="navbar">
    <div class="logo">
        <strong>Портал групи</strong>
    </div>
</div>
<p>1</p>
<p>Текст</p>
<!-- Весь контент здесь -->
<div class="container">
    <h1>Головна сторінка</h1>
    <p>Вітаємо! Тут відображаються форуми, оголошення, опитування!</p>

    <h2>Перейти до сторінки форумів</h2>

    <h2>Перейти до сторінки оголошень</h2>

    <h2>Перейти до сторінки опитувань</h2>

</div>

</body>
</html>